export PRIVATE_KEY="xxxx"
export WEB3_INFURA_PROJECT_ID="xxxx"
export ETHERSCAN_TOKEN="xxxx"
export PINATA_API_KEY="xxxx"
export PINATA_API_SECRET="xxxx"
export PINATA_JWT="xxxx"."xxxx"
export UPLOAD_IPFS=false